* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #d6ecda, #ab1bb8);
  color: white;
  font-family: "Poppins", sans-serif;
}
header {
  font-size: 1.2 rem;
}

header,
form {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.2rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  color: #ab1bb8;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #0a8bc7;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease ;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
background: #e704c1;
color: white;
border: none;
padding: 1rem;
cursor: pointer;
font-size: 1.5rem;
}

.complete-btn{
    background: #099723;
}

.todo-item{
    padding: 0rem 2.4rem;
}
.fa-trash, .fa-check{
    pointer-events: none;
}


.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

select{
    -webkit-appearance: none;
    -mox-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: #0a8bc7;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;

}

.select::after{
content: "B";
position: absolute;
background: #d5b2d8;
top: 0;
right: 0;
padding: 1rem;
pointer-events: none;
}